* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
}

.menu-item {
  position: absolute;
  width: 190px;
  height: 150px;
  padding: 25px 18px;
  border-top: 2px solid rgb(170, 210, 54);
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  right: 385px;
  top: 50px;
  display: none;
}

.menu-item .items a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.items {
  margin-bottom: 7px;
  border-bottom: 1px solid #dddde2f8;
  padding-bottom: 5px;
}

.items:last-of-type {
  border: none;
  padding: 0;
}

.dropdown:hover .menu-item {
  display: block;
}

.nav-logo img {
  width: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul {
  display: flex;
}

.nav-links li {
  list-style-type: none;
  margin-right: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

#nav-button {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 9px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#hero-background-img {
  width: 100%;
  height: 100vh;
  background: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png")
    no-repeat center/cover;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  text-align: center;
}

#content h1 {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  line-height: 1.2;
}

#content p {
  font-size: 14px;
  color: #8b8b99;
  letter-spacing: 0.5px;
  font-weight: 400;
}

#step-section {
  width: 100%;
  display: flex;
}

#step-one {
  background-color: #5acda6;
}

#step-two {
  background-color: #91ac41;
}

#step-three {
  background-color: #e4b476;
}

#step-four {
  background-color: #f69dad;
}

.step {
  width: 25%;
  padding: 110px 46px;
  text-align: center;
}

.step i {
  font-size: 96px;
  color: white;
}

.step h3 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 20px 0;
}

.step p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: white;
}

#vegan-store {
  width: 100%;
  padding: 90px 0;
  text-align: center;
  background-color: #f7eee2;
}

#vegan-icons-container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.vegan-icons {
  width: 20%;
  padding: 24px;
}

#vegan-store span {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
}

#vegan-store #vegan-title {
  font-size: 44px;
  margin-bottom: 10px;
  font-weight: 600;
}

#vegan-store #vegan-desc {
  color: #8b8b99;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
}

.vegan-icons h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.vegan-icons p {
  color: #8b8b99;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.vegan-icons i {
  font-size: 60px;
  color: white;
}

.round {
  display: inline-block;
  background-color: #e3b375;
  border-radius: 50%;
  padding: 40px;
  transition: all 0.3s;
}

.round:hover {
  transform: scale(1.1);
}

#testimonial-section {
  width: 100%;
  padding: 90px 0;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

#testimonial-section #span-text {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
}

#testimonial-title {
  font-size: 44px;
  margin-bottom: 10px;
  font-weight: 600;
}

#testimonial-desc {
  max-width: 50%;
  color: #8b8b99;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25%;
  background-color: #f5f6fb;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 40px 30px;
  margin: 0 16px;
}

.card:hover {
  box-shadow: 0 12px 16px 0 rgb(39 39 47 / 6%);
}

.testimonial-img {
  width: 80px;
  border-radius: 50%;
}

.card p {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  color: #8b8b99;
  margin: 20px 0;
}

.card h3 {
  font-size: 16px;
  font-weight: 600;
}

.card span {
  font-size: 12px;
  font-style: italic;
  color: #8b8b99;
}

#follow-us {
  width: 100%;
  display: flex;
}

.follow-us-img {
  background: url("https://mobirise.com/extensions/organicamp/assets/images/19.jpg")
    no-repeat center/cover;
  width: 67%;
}

.follow-us-mail {
  background: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png")
    no-repeat left/cover;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 50px;
}

.follow-us-content {
  width: 70%;
}

.follow-us-content h1 {
  font-size: 44px;
  font-weight: 600;
}

.follow-us-content p {
  color: #8b8b99;
  margin-top: 10px;
  margin-bottom: 50px;
}

.follow-us-content input {
  width: 90%;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  box-sizing: border-box;
}

.follow-us-content input::placeholder {
  font-size: 16px;
  font-weight: 500;
}

#follow-us-btn {
  background-color: #f69dad;
  padding: 16px 42px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 16px;
  font-weight: 600;
  color: white;
}

#follow-us-btn:hover {
  background-color: transparent;
  border: 1px solid #f69dad;
  color: #f69dad;
}

#stats-section {
  width: 100%;
  background-color: #f6fcfa;
  margin-top: 5px;
}

.stats {
  width: 20%;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.stats p {
  color: #57e3b5;
  font-style: italic;
  letter-spacing: 0.5px;
}

.stats h3 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 15px;
}

#vimeo-video-section {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

#video-title h3 {
  font-size: 44px;
  font-weight: 400;
  color: #8b8b99;
}

#dash {
  width: 96px;
  border-bottom: 1px solid #e3b375;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

iframe {
  width: 100%;
  height: 425px;
}

#contact-section {
  width: 100%;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.contact-us {
  width: 45%;
}

.get-in-touch {
  width: 35%;
  margin-left: 60px;
}

.contact-wrapper .green {
  color: #91ac41;
  font-size: 16px;
  font-family: "Caveat", cursive;
  margin-top: 30px;
}

.contact-wrapper h3 {
  font-size: 44px;
}

.contact-wrapper h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 32px;
}

.contact-p {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  line-height: 2;
}

.first {
  line-height: 1.5;
  margin-top: 25px;
  margin-bottom: 15px;
}

.box {
  width: 95%;
  padding: 16px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #e5e6ec;
  margin-bottom: 16px;
  outline: none;
  box-sizing: border-box;
}

textarea {
  outline: none;
}

.contact-btn {
  padding: 12px 34px;
  background-color: rgb(170, 210, 54);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

footer {
  background-color: #232323;
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 30px 0px;
}

@media screen and (max-width: 900px) {
  .nav-links ul{
    display: none;
  }
  #content {
    padding: 0;
  }
  #content h1 {
    font-size: 30px;
  }
  #step-section {
    flex-direction: column;
  }
  .step {
    width: 100%;
  }
  #vegan-icons-container {
    flex-direction: column;
  }
  .vegan-icons {
    width: 100%;
  }
  .card-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  #follow-us {
    display: flex;
    flex-direction: column;
  }
  .follow-us-img {
    width: 100%;
    height: 100vh;
  }
  .follow-us-mail {
    width: 100%;
    padding: 40px 15px;
    align-items: flex-start;
  }
  .follow-us-content {
    width: 100%;
  }
  .stats-container {
    flex-direction: column;
  }
  .stats {
    width: 100%;
  }
  .contact-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .contact-us{
    width: 100%;
    padding: 10px;
  }
  .get-in-touch{
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }
  .contact-wrapper .green{
    margin-top: 10px;
  }
  .contact-btn{
    margin-bottom: 10px;
  }
}
